<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>simpblog-arquillian</display-name>
    <servlet>
        <servlet-name>Blog Servlet</servlet-name>
        <servlet-class>simpblog.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Blog Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--<welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>-->
</web-app>